* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}



body {
    background: linear-gradient(45deg, #0a0a0a, #3a4452)
}

.calculator {
    /* border: 2px solid #717377; */
    padding: 15px;
    border-radius: 20px;
    background: transparent;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.11), 15px 10px 10px rgba(0, 0, 0, 0.326),
        inset -5px -5px 15px rgba(255, 255, 255, 0.119),
        inset 5px 5px 15px rgba(0, 0, 0, 0.297);
}

div div textarea {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    border-radius: 20px;
    font-size: 45px;
    text-align: right;
    cursor: pointer;
}

textarea::placeholder {
    color: white;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 8px !important;
    border-radius: 100px !important;
    background: transparent;
    color: white;
    font-size: 24px !important;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.084), 10px 10px 10px rgba(0, 0, 0, 0.326),
        inset -5px -5px 15px rgba(255, 255, 255, 0.095),
        inset 5px 5px 15px rgba(0, 0, 0, 0.278);
}

button:hover {
    background: rgba(0, 0, 0, 0.386);
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* box-shadow: none; */
}

button:active {
    background: rgb(255, 81, 0);
    color: white;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.equalBtn {
    background-color: orangered;
}

.operator {
    color: rgb(34, 255, 34);
}

@media (max-width:430px) {
    button {
        font-size: 17px !important;
        height: 40px;
        width: 40px;
    }

    div div textarea {
        width: 240px;
    }
}

@media (max-width:290px) {
    div div textarea {
        width: 200px;
        font-size: 33px;
        margin: 8px;
    }

    button {
        font-size: 14px !important;
        height: 37px;
        width: 37px;
        margin: 8px !important;
        margin: 7px !important;
    }
}